@import "bower_components/foundation-apps/scss/vendor/normalize";
@import "bower_components/foundation-apps/scss/helpers/functions";
@import "bower_components/foundation-apps/scss/helpers/mixins";
@import "bower_components/foundation-apps/scss/global";

$primary-color: #31A6DD;

$slider-radius: 50%;
$slider-thumb-radius: 50%;
$slider-height: 0.5rem;
$slider-thumb-height: 1rem;


@import "bower_components/foundation-apps/scss/components/forms";
@import "bower_components/foundation-apps/scss/components/switch";


body {
	font-family: sans-serif;
}

header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #333;
	// background-color: $gray-light;
	color: #fff;
	padding: 1em;
	text-align: center;
}

.toolbox {
	position: absolute;
	top: 0;
	right: 0;
	width: 450px;
	background-color: #ededed;
	color: #666;
	font-size: 0.8em;
	border: 1px solid rgba(0,0,0,0.1);
	height: 100%;

	.panel {
		width: 50%;
		float: left;
		height: 100%;
		&:last-child {
			border-left: 1px solid rgba(0,0,0,0.1);
		}
	}

	.bar {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	label {
		font-size: 0.9em;
		clear: left;
	}
}

fieldset {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin: 0;
	.column {
		width: 50%;
		float: left;
	}
	&.disabled {
		color: #999;
		background-color: #dfdfdf;
		input, select {
			background-color: #d6d6d6;
			color: #999;
		}
		label { color: #999; }
	}
}

input[type="checkbox"] {
	// display: inline;
	float: left;
}

.switch + label {
	display: inline-block;
	position: relative;
	top: -0.8em;
}

.color {
	clear: left;
	label {
		clear: none;
	}
	.form-label {
		border-left: none;
	}
	input {
		float: left;
		&[type="range"] {
			float: left;
			margin-top: 0;
			width: calc(100% - 3.5rem);
		}
	}
}

label[for="frameRate"] {
	display: block;
}

.range {
	display: block;
	clear: both;
}

input[type="range"] {
	font-size: 0.8em;
	width: calc(100% - 4em);
	float: left;

	&[disabled] {
		&::-webkit-slider-thumb {
			background-color: #ccc;
		}
		&::-moz-slider-thumb {
			background-color: #ccc;
		}
		&::-ms-slider-thumb {
			background-color: #ccc;
		}
		&::-webkit-slider-runnable-track {
			background-color:  #d6d6d6;
		}
		&::-moz-slider-runnable-track {
			background-color:  #d6d6d6;
		}
		&::-ms-slider-runnable-track {
			background-color: #d6d6d6;
		}
	}
	+ output {
		float: left;
		display: inline-block;
		width: 2em;
		text-align: center;
	}
}

input[type="color"] {
	width: 45%;
	padding: 0;
	height: 1.7em;
}

input[type="text"], input[type="number"], select {
	padding: 0.5em;
	height: 2.35em;
	font-size: 1em;
}

.random {
	float: right;
	margin-top: 0.5em;
	input[type="checkbox"], label {
		float: none;
		display: inline;
	}
	label {
		position: relative;
		top: -0.25em;
		margin-right: 0.35em;	
		font-size: 1em;	
	}
}

section.bar {
	padding: 0.5em;
}

legend {
	float: left;
	clear: right;
	font-size: 0.9em;
	display: block;
	width: 100%;
	h4 {
		margin: 0;
		float: left;
		padding: 0.7em 0;
		text-transform: uppercase;
		& + .switch {
			float: left;
			margin-left: 0.5em;
			margin-bottom: 1em;
		}
	}
}

#testcanvas {
	width: 100vw;
	height: 100vh;
}

.spawn .column {
	input[type="radio"] {
		display: inline-block;
		float: left; 
		clear: left;
		& + label {
			float: left;
			clear: right;
			display: inline-block;
			margin-left: 0.15em;
			margin-top: 0.2em;
		}
	}
}